.grid {
	display: flex;
}

.grid .col {
	flex: 1;
}

.grid-2, 
.grid-3 {
	display: flex;
	/*justify-content: space-between;*/
}

.grid-2 .col {
	width: 49%;
	margin-right: 1%;
}

.grid-3 .col {
	width: 32%;
	margin-right: 1.33%;
}

