.grid {
	display: flex;
	align-items: stretch;
}

.grid .col {
	flex: 1;
}

.grid-2, 
.grid-3 {
	display: flex;
	/*justify-content: space-between;*/
}

.grid-2 .col {
	width: 48%;
	margin-right: 2%;
}

.grid-3 .col {
	width: 31%;
	margin-right: 2.33%;
}

