{% extends "base.twig" %}

{% block content %}
	<div class='container container--padded'>
		{% for row in posts | batch(2) %}
		<div class='grid grid-2'>
			{% for post in row %}
			<div class='col'>
				{% include ['components/tease-'~post.post_type~'.twig', 'components/tease.twig'] %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}