{% extends "base.twig" %}

{% block content %}
	<div class='container'>
		{% for row in posts | batch(3) %}
			<div class='grid grid-3'>
			{% for post in row %}
				<div class='col'>
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% endfor %}
			</div>
		{% endfor %}
		{% if pagination %}
			{% include 'pagination.twig' %}
		{% endif %}
	</div>
{% endblock %}