{% extends "base.twig" %}

{% block content %}
	
	{% for row in posts | batch(3) %}
		<div class='grid-3'>
		{% for post in row %}
			<div class='col'>
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
	</div>
{% endblock %}