{% extends "base.twig" %}

{% block content %}
	<div class='container container--padded'>

		{% 
			include 'components/masthead-simple.twig' with {
				'title': 'Edițiile Someș Delivery'
			} 
		%}

		{% for row in posts | batch(2) %}
		<div class='layout layout--grid layout--1-2'>
			{% for post in row %}
			<div class='layout__item'>
				{% include ['components/tease-'~post.post_type~'.twig', 'components/tease.twig'] %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}