<p>© {{"now"|date('Y')}} Someș Delivery. Toate drepturile rezervate.</p>
<p>Ne găsiți și pe <a href='https://fb.com/somesdelivery'>Facebook</a> și <a href='https://instagram.com/somesdelivery'>Instagram</a></p>