{% extends "base.twig" %}

{% block title %}
	<div class='article-meta'>
		<h1 class='article-title'>Revenim în curând</h1>
	</div>
{% endblock %}

{% block content %}
	<p style='text-align: center'>Pregătim un site îmbunătățit pentru Someș Delivery. Între timp, ne găsiți pe <a href='https://facebook.com/somesdelivery'>Facebook</a>.</p>
{% endblock %}