{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class='container container--padded'>
			{% block content_title %}
				{% include 'components/masthead-simple.twig' %}
			{% endblock %}

			{% block content_body %}
				{% if post.post_excerpt %}
					<div class='content__intro'>
						{{ post.post_excerpt }}
					</div>
				{% endif %}
				{{post.content}}
			{% endblock %}
		</div>
		{% block content_meta %}
			<!-- Article meta box -->
		{% endblock %}
	</article>
{% endblock %}