{% extends "page.twig" %}

{% block content_body %}
	{% if interviuri %}
		<h3>Someșul povestit: interviuri</h3>
		{% if interviuri.children('parent') | length %}
			<div class='layout layout--grid layout--1-3'>
			{% for interviu in interviuri.children('parent') %}
				<div class='layout__item'>
		        	{% include 'components/tease-interviu.twig' %}
		    	</div>
		    {% endfor %}
			</div>
		{% endif %}
	{% endif %}

	<h3>Articole</h3>

	{% 
		include 'components/tease-post.twig' with {
			'post': povestire,
			'is_page': true
		} 
	%}
{% endblock %}