{% set page_theme = post.get_field('page_theme') | default('theme-longread') %}
	
{% extends "page.twig" %}

{% block content_title %}
	{% include 'components/masthead-post.twig' %}
{% endblock %}

{% block content_body %}
	{% if post.post_excerpt %}
		<div class='content__intro'>
			{{ post.post_excerpt }}
		</div>
	{% endif %}
	<div class='content--narrow'>
		{{post.content}}
	</div>
{% endblock %}