{% set page_theme = 'theme-longread' %}

{% extends "page.twig" %}

{% block content_title %}
	{% include 'components/masthead-interviu.twig' %}
{% endblock %}

{% block content_meta %}
	<section class='section--light'>
		<div class='container container--padded'>
			{% include 'components/author-box.twig' %}
		</div>
	</section>
{% endblock %}
