<div class='masthead'>
	<h1 class='masthead__title'>{{ post.title }}</h1>
	<ul class='masthead__meta'>
		<li><span>Autor</span> Redacția</li>
		<li><span>Data</span> {{ post.date }}</li>
	</ul>
</div>